<div class="container col-12 main-container">
  <div class="row no-gutters">
    <div class="col-8 no-gutters">
      <img src="assets/images/new-uni-map.jpg" alt="uok map">
    </div>
    <div class="col-4 no-gutters float-right">
      <div class="search-container" [formGroup]="departmentFormGroup">
        <div class="form-group">
          <label for="building">Building</label>
          <input type="email" class="form-control" id="building" placeholder="Enter Building" formControlName="building">
        </div>
        <div class="form-group">
          <label for="floor">Floor</label>
          <input type="text" class="form-control" id="floor" placeholder="Enter Floor" formControlName="floor">
        </div>
        <button type="submit" class="btn btn-primary form-control" (click)="onClickNext()">Next</button>
      </div>
    </div>
  </div>
</div>
